.about {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 124px;
    margin-bottom: 100px;

    .about__top {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;

        .about__home {
            // font-family: Manrope;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.86px;
            text-align: left;
            color: #454545;
            opacity: .3;
            &:hover{
                color: #00305f;
            }
        }

        .about__icons {
            color: black;
            font-size: 14px;
        }

        .about__title {
            // font-family: Manrope;
            font-size: 16px;
            font-weight: 600;
            line-height: 21.86px;
            text-align: left;
            color: #454545;
        }
    }

    .about__bottom__content {
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: space-between;

        .about__bottom__box {
            width: 100%;
            height: auto;
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            gap: 20px;

            .about__bottom__box__title {
                // font-family: Manrope;
                max-width: 380px;
                font-size: 64px;
                font-weight: 700;
                line-height: 70.4px;
                text-align: left;
                color: #454545;
                margin-bottom: 15px;
            }

            .about__bottom__box__card {
                max-width: 530px;
                width: 100%;
                height: 253px;
                border-radius: 15px;
                background: #F2F2F2;
                display: flex;
                align-items: start;
                justify-content: space-between;
                flex-direction: column;
                padding: 32px;

                .about__bottom__box__card__num {
                    // font-family: Manrope;
                    font-size: 64px;
                    font-weight: 700;
                    line-height: 70.4px;
                    text-align: left;
                    color: #454545;
                }

                .about__bottom__box__card__text {
                    // font-family: Manrope;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 36px;
                    text-align: left;
                    color: #454545;
                }
            }
        }

        .about__bottom__left {
            max-width: 640px;
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            gap: 30px;
            margin-top: 10px;

            .about__text {
                // font-family: Manrope;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                text-align: left;
                color: #454545;
            }

            .bold {
                // font-family: Manrope;
                font-size: 24px;
                font-weight: 600;
                line-height: 33.6px;
                text-align: left;
                color: #000000;
            }
            .nav__tel {
                font-size: 14px;
                font-weight: 600;
                line-height: 19.12px;
                text-align: left;
                color: #454545;
                &:hover{
                    color: #f4a615;
                }
            }
        }
    }
}


.about__two {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 100px;

    .about__two__gr {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 72px;

        .about__two__gr__title {
            // font-family: Manrope;
            font-size: 40px;
            font-weight: 700;
            line-height: 54.64px;
            text-align: left;
            color: #454545;
        }

        .about__two__gr__box {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .about__two__gr__left {
                width: 39px;
                height: 26px;
            }
        }
    }

    .about__two__carusl__category {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;
        padding: 20px 0px;
        overflow: auto;

        .about__two__carusl__category__card {
            width: 310px;
            height: 112px;
            border: 1px solid #D9D9D9;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;

            .about__two__carusl__category__img {
                width: auto;
            }
        }

        &::-webkit-scrollbar {
            width: 10px;
            height: 6px;
        }
        &::-webkit-scrollbar-thumb{
            background: #ddd;
            border-radius: 10px;
        }
    }
}


.about__theree {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 127px;

    .category__top {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 53px;

        .category__top__text {
            // font-family: Manrope;
            font-size: 40px;
            font-weight: 700;
            line-height: 54.64px;
            text-align: left;
            color: #454545;
        }

        .category__top__btn {
            width: 220px;
            height: 50px;
            gap: 10px;
            font-size: 16px;
            font-weight: 500;
            line-height: 21.86px;
            text-align: left;
        }
    }

    .about__theree__box {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        .about__theree__box__card {
            max-width: 420px;
            width: 100%;
            height: auto;
            padding-bottom: 32px;
            border-bottom: 1px solid black;
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            cursor: pointer;
            margin-bottom: 30px;

            &:hover {
                opacity: .5;
            }

            .about__theree__box__card__img__box {
                max-width: 420px;
                width: 100%;
                height: 304px;
                margin-bottom: 29px;


                .about__theree__box__card__img {
                    width: 100%;
                    height: 100%;
                }
            }

            .about__theree__box__card__group {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;
                gap: 16px;

                .about__theree__box__card__group__text {
                    // font-family: Manrope;
                    max-width: 310px;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 26px;
                    text-align: left;
                    color: #454545;
                }

                .about__theree__box__card__group__icon {
                    font-size: 28px;
                    color: #454545;
                }
            }

            .about__theree__box__card__group__date {
                // font-family: Manrope;
                font-size: 14px;
                font-weight: 500;
                line-height: 15.4px;
                text-align: left;
                color: #454545;
            }
        }
    }
}

@media (max-width: 1150px) {
    .about {
        .about__bottom__content {
            gap: 30px;
        }
    }
}

@media (max-width: 910px) {
    .about {
        .about__bottom__content {
            gap: 30px;
            flex-direction: column;
        }
    }

    .about__theree {
        .about__theree__box {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 740px) {
    .about {
        .about__bottom__content {
            .about__bottom__box {
                .about__bottom__box__title {
                    font-size: 44px;
                    line-height: 50.4px;
                }
            }
        }
    }

    .about__two {
        .about__two__gr {
            .about__two__gr__title {
                font-size: 32px;
                line-height: 39.4px;
            }
        }
    }

    .about__theree {
        .about__theree__box {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 640px) {
    .about {
        .about__bottom__content {
            .about__bottom__box {
                .about__bottom__box__title {
                    font-size: 32px;
                    line-height: 40.4px;
                }
            }
        }
    }

    .about__two {
        .about__two__gr {
            .about__two__gr__title {
                font-size: 24px;
                line-height: 30.4px;
            }
        }
    }

    .about__theree {
        .about__theree__box {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 400px) {
    .about {
        .about__bottom__content {
            .about__bottom__box {
                .about__bottom__box__title {
                    font-size: 32px;
                    line-height: 40.4px;
                }
            }

            .about__bottom__left {
                .about__text {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }
        }
    }

    .about__two {
        .about__two__gr {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 24px;

            .about__two__gr__title {
                font-size: 24px;
                line-height: 30.4px;
            }
        }

        .about__two__carusl__category {
            .about__two__carusl__category__card {
                width: 270px;
                height: 100px;
            }
        }
    }

    .about__theree {
        .category__top {
            flex-direction: column;
            gap: 24px;
        }
    }
}