.products {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;

    .products__text__top {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.2em;
        text-align: center;
        color: #DC780B;
        margin-bottom: 9px;
    }

    .products__text__center {
        font-size: 31.25px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        color: #150C01;
        margin-bottom: 25px;
    }

    .products__text__buttom {
        max-width: 748px;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #150C01;
        opacity: .7;
        margin-bottom: 60px;
    }

    .category__items {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        overflow: auto;
        margin-bottom: 40px;

        .items__list {
            // width: 100%;
            white-space: nowrap;
            padding: 8px 12px;
            background: #ddd;
            border-radius: 5px;
            cursor: pointer;
        }

        .items__list__two {
            // width: 100%;
            white-space: nowrap;
            padding: 8px 12px;
            background: dodgerblue;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        &::-webkit-scrollbar {
            width: 30px;
            height: 6px;
            border-radius: 5px;
            background-color: #ddd;
        }
    }

    .products__box {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        .products__box__curd {
            max-width: 360px;
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            background: #FFFFFF;
            border-radius: 60px 10px 10px 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

            .products__box__curd__img {
                width: 100%;
                height: 264px;
                border-radius: 60px 0px;
                margin-bottom: 10px;
                transition: .2s;
                margin: 0 auto;
                cursor: pointer;

                &:hover {
                    opacity: .5;
                }
            }

            .products__box__curd__groupone {
                width: 100%;
                padding: 10px 20px;
                display: flex;
                align-items: start;
                justify-content: space-between;

                .products__box__curd__groupone__name {
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 24px;
                    text-align: left;
                    color: #150C01;
                    max-width: 190px;
                }

                .products__box__curd__groupone__prisce {
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 24px;
                    text-align: left;
                    color: red;
                }
            }

            .products__box__curd__grouptwo {
                width: 100%;
                padding: 10px 20px;
                display: flex;
                align-items: start;
                justify-content: space-between;

                .products__box__curd__grouptwo__oshxona {
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 24px;
                    text-align: left;
                    color: #150C01;
                }

                .products__box__curd__grouptwo__restaran {
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 24px;
                    text-align: left;
                    color: #150C01;
                    opacity: .7;
                }
            }

            .products__box__curd__grouptheree {
                width: 100%;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 30px;

                .products__box__curd__grouptheree__btn {
                    width: 34px;
                    height: 34px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #DC780B;
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 18.75px;
                    text-align: center;
                    border-radius: 5px;

                    &:hover {
                        background: #FFFFFF;
                        border-color: #DC780B;
                        color: #DC780B;
                        transition: .2s;
                    }
                }
            }
        }
    }

    .products__btn {
        width: 142px;
        height: 42px;
        border-radius: 5px;
        background: #DC780B;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 50px;

        &:hover {
            background: #FFFFFF;
            border-color: #DC780B;
            color: #DC780B;
            transition: .2s;
        }
    }
}